# Игнорируем бинарники и результаты сборки
*.o
*.out
*.exe
size_system
main1
work_sizeof

# Временные и резервные файлы
*~
*.log
*.swp
*.bak

# Игнорируем папки и проекты
Project/
harm/
"enum*" 
"switch*" 
"typedef*" 
"\320*"   # Все кириллические файлы/папки
"\321*"   # Дополнительные кириллические имена""""""""""
