# ====== Скомпилированные файлы ======
*.o
*.exe
*.out
*.obj

# ====== Логи, временные и текстовые файлы ======
*.log
*.tmp
*.bak
*.swp
*.swo
*.txt

# ====== Файлы редакторов и IDE ======
.idea/
.vscode/
*.iml
*.user
*.pro.user*

# ====== Игнорировать большие или экспериментальные папки ======
'Графика, GUI/'
'Динамическое выделение памяти/'
'Массивы/'
'Структуры/'
'Файлы/'
'Функции/'
'Работа со строками/'

# ====== Системные файлы ======
.DS_Store
__pycache__/
*.pyc''''''''''''''
